<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.springframework.org/security/tags"
	  xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="icon" href="images/mb.ico"></link>

    <title>MB - Cadastro</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="bootstrap/js/bootstrap.min.js" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="style/styleCss.css" rel="stylesheet"></link>
    
	
	
    
</head>
<body>

	<header>
    <!-- Menu de navegação -->
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <p class="navbar-brand">Michelli Brito</p>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul  class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#contact">Contato</a></li> 
                <li sec:authorize="isAuthenticated()"><a href="/cadastro">Publicar Artigo</a></li>                
              </ul>
              <div>
	              <ul class="nav navbar-nav navbar-right">
					  <li sec:authorize="isAuthenticated()" id="admin"><a href="#">admin</a></li>
					  <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
					  <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
				  </ul>
			 </div>
            </div>
            
          </div>
        </nav>
		
      </div>
    </div>
    </header>

	<section class="cadastro">
    <div class="container">
        <h1>Publicar Artigo</h1>
        <th:block th:include="fragments/MensagemSucesso"></th:block>


        <form action="/cadastro" method="POST" class="form-group">
        
        
        
            Título: <input type="text" value="" class="form-control" id="titulo" name="titulo"/>
            
            <div class="row"> 
                <div class="col-sm-9">
                    Autor: <input type="text" value="" class="form-control" id="autor" name="autor"/>
                </div>
                <div class="col-sm-3">
                    Data: <input type="date" value="dd-mm-yyyy" class="form-control" name="data"/>
                </div>
            </div>
            
            Texto: <textarea rows="15" cols="190" name="texto" class="texto form-control"></textarea>
            
           <input type="hidden" value="" class="resumo form-control" id="resumo" name="resumo"/> 
            
            
           <button id="submeter" type="submit" class="btn btn-primary">Publicar</button>
           <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
        
    </div>
    </section>
    
    <!-- FOOTER -->
      <div class="footer">
      <footer>
        <div class="container marketing">
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
      </footer>
	  </div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="js/jquery-3.2.0.js"></script>
	<script src="js/main.js"></script>
	
</body>
</html>